/// <reference path="../../common.ts" />

interface EtherscanGetblockrewardUncleResponse {
  miner: Hex; 
  unclePosition: string; // number
  blockreward: string; // Wei
}

interface EtherscanGetblockrewardResponse {
  blockMiner: Hex;
  blockNumber: string; // number
  blockReward: string; // Wei
  timeStamp: string; // number
  uncleInclusionReward: string; // Wei
  uncles: EtherscanGetblockrewardUncleResponse[];
}

/**
 * {{es.blocks.item[0].name}}
 *
 * {{es.common.params.blockno}}
 * {{common.params.fields}}
 *
 * @example
 * =ES$GETBLOCKREWARD(2165403)
 *
 * @returns {string[]} blockMiner,blockNumber,blockReward,timeStamp,uncleInclusionReward,uncles
 *
 * @customfunction
 */
function ES$GETBLOCKREWARD(
  blockno: number,
  fields: FieldsOrAll<EtherscanGetblockrewardResponse> = '*',
) {
  return pickFields_<EtherscanGetblockrewardResponse>({
    row: esRequest_<EtherscanGetblockrewardResponse>({
      caller: 'ES$GETBLOCKREWARD',
      action: 'getblockreward',
      module: 'block',
      params: { address: asNumber_(blockno) },
    }),
    fields,
  });
}
