/// <reference path="../../common.ts" />

interface EtherscanGetblockcountdownResponse {
  CountdownBlock: string; // number
  CurrentBlock: string; // number
  RemainingBlock: string; // number
}

/**
 * {{es.blocks.item[1].name}}
 *
 * {{es.common.params.blockno}}
 * {{common.params.fields}}
 *
 * @example
 * =ES$GETBLOCKCOUNTDOWN(16701588)
 *
 * @returns {string[]} CountdownBlock,CurrentBlock,RemainingBlock
 *
 * @customfunction
 */
function ES$GETBLOCKCOUNTDOWN(
  blockno: number,
  fields: FieldsOrAll<EtherscanGetblockcountdownResponse> = '*',
) {
  return pickFields_({
    row: esRequest_({
      caller: 'ES$GETBLOCKCOUNTDOWN',
      action: 'getblockcountdown',
      module: 'block',
      params: { blockno },
    }),
    fields,
  });
}
