/// <reference path="../../common.ts" />

interface EtherscanDailyavgblocktimeResponse {
  UTCDate: string;
  unixTimeStamp: string; // number
  blockSize_bytes: number; 
}

/**
 * {{es.blocks.item[6].name}}
 *
 * {{es.common.params.startdateRequired}}
 * {{es.common.params.enddateRequired}}
 * {{es.common.params.sort}}
 * {{common.params.fields}}
 *
 * @example
 * =ES$DAILYAVGBLOCKTIME("2019-02-01", "2019-02-28")
 *
 * @returns {string[]} UTCDate,unixTimeStamp,blockSize_bytes
 *
 * @customfunction
 */
function ES$DAILYAVGBLOCKTIME(
  startdate: string,
  enddate: string,
  sort?: EtherscanSort,
  fields: FieldsOrAll<EtherscanDailyavgblocktimeResponse> = '*',
) {
  return pickFields_({
    rows: esRequest_<EtherscanDailyavgblocktimeResponse[]>({
      caller: 'ES$DAILYAVGBLOCKTIME',
      action: 'dailyavgblocktime',
      module: 'stats',
      params: { enddate, startdate, sort },
    }),
    fields,
  });
}
