/// <reference path="../../common.ts" />

/**
 * {{es.blocks.item[3].name}}
 *
 * {{es.common.params.startdate}}
 * {{es.common.params.enddate}}
 * {{es.common.params.sort}}
 *
 * @example
 * =ES$BLOCK_DAILYAVGBLOCKSIZE("2019-02-01", "2019-02-28")
 *
 * @customfunction
 */
function ES$BLOCK_DAILYAVGBLOCKSIZE(
  startdate: string,
  enddate: string,
  sort: EtherscanSort,
) {
  return esRequest_({
    caller: 'ES$BLOCK_DAILYAVGBLOCKSIZE',
    action: 'dailyavgblocksize',
    module: 'stats',
    params: { 
      enddate,
      startdate,
      sort,
    },
  });
}
