/// <reference path="../../common.ts" />

interface EtherscanDailyavgblocksizeResponse {
  UTCDate: string;
  unixTimeStamp: string; // number
  blockSize_bytes: number; 
}

/**
 * {{es.blocks.item[3].name}}
 *
 * {{es.common.params.startdateRequired}}
 * {{es.common.params.enddateRequired}}
 * {{es.common.params.sort}}
 * {{common.params.fields}}
 *
 * @example
 * =ES$DAILYAVGBLOCKSIZE("2019-02-01", "2019-02-28")
 *
 * @returns {string[]} blockSize_bytes,unixTimeStamp,UTCDate
 *
 * @customfunction
 */
function ES$DAILYAVGBLOCKSIZE(
  startdate: string,
  enddate: string,
  sort?: EtherscanSort,
  fields: FieldsOrAll<EtherscanDailyavgblocksizeResponse> = '*',
) {
  return pickFields_({
    rows: esRequest_<EtherscanDailyavgblocksizeResponse[]>({
      caller: 'ES$DAILYAVGBLOCKSIZE',
      action: 'dailyavgblocksize',
      module: 'stats',
      params: { enddate, startdate, sort },
    }),
    fields,
  });
}
