/// <reference path="../../common.ts" />

interface EtherscanDailyblockrewardsResponse {
  UTCDate: string;
  unixTimeStamp: string; // number
  blockRewards_Eth: string; // number
}

/**
 * {{es.blocks.item[5].name}}
 *
 * {{es.common.params.startdateRequired}}
 * {{es.common.params.enddateRequired}}
 * {{es.common.params.sort}}
 * {{es.common.params.fields}}
 *
 * @example
 * =ES$DAILYBLOCKREWARDS("2019-02-01", "2019-02-28")
 *
 * @returns {string[]} UTCDate,unixTimeStamp,blockRewards_Eth
 *
 * @customfunction
 */
function ES$DAILYBLOCKREWARDS(
  startdate: string,
  enddate: string,
  sort?: EtherscanSort,
  fields: FieldsOrAll<EtherscanDailyblockrewardsResponse> = '*',
) {
  return pickFields_({
    rows: esRequest_<EtherscanDailyblockrewardsResponse[]>({
      caller: 'ES$DAILYBLOCKREWARDS',
      action: 'dailyblockrewards',
      module: 'stats',
      params: { enddate, startdate, sort },
    }),
    fields,
  });
}
