/// <reference path="../../common.ts" />

interface EtherscanDailyuncleblkcountResponse {
  UTCDate: string;
  unixTimeStamp: string; // number
  uncleBlockCount: number;
  uncleBlockRewards_Eth: string; // number
}

/**
 * {{es.blocks.item[7].name}}
 *
 * {{es.common.params.startdateRequired}}
 * {{es.common.params.enddateRequired}}
 * {{es.common.params.sort}}
 * {{common.params.fields}}
 *
 * @example
 * =ES$DAILYUNCLEBLKCOUNT("2019-02-01", "2019-02-28")
 *
 * @returns {string[]} UTCDate,unixTimeStamp,uncleBlockCount,uncleBlockRewards_Eth
 *
 * @customfunction
 */
function ES$DAILYUNCLEBLKCOUNT(
  startdate: string,
  enddate: string,
  sort?: EtherscanSort,
  fields: FieldsOrAll<EtherscanDailyuncleblkcountResponse> = '*',
) {
  return pickFields_({
    rows: esRequest_<EtherscanDailyuncleblkcountResponse[]>({
      caller: 'ES$DAILYUNCLEBLKCOUNT',
      action: 'dailyuncleblkcount',
      module: 'stats',
      params: { enddate, startdate, sort },
    }),
    fields,
  });
}
