/// <reference path="../../common.ts" />

interface EtherscanDailyblockrewardsResponse {
  blockRewards_Eth: string; // number
  unixTimeStamp: string; // number
  UTCDate: string;
}

/**
 * {{es.blocks.item[5].name}}
 *
 * {{es.common.params.startdateRequired}}
 * {{es.common.params.enddateRequired}}
 * {{es.common.params.sort}}
 * {{es.common.params.fields}}
 *
 * @example
 * =ES$DAILYBLOCKREWARDS("2019-02-01", "2019-02-28")
 *
 * @returns {string[]} blockRewards_Eth,unixTimeStamp,UTCDate
 *
 * {{es.common.docsLink}}
 * @see {@link https://docs.etherscan.io/api-endpoints/blocks#get-daily-block-rewards}
 *
 * @customfunction
 */
function ES$DAILYBLOCKREWARDS(
  startdate: string,
  enddate: string,
  sort?: EtherscanSort,
  fields: FieldsOrAll<EtherscanDailyblockrewardsResponse> = '*',
) {
  return pickFields_({
    rows: esRequest_<EtherscanDailyblockrewardsResponse[]>({
      action: 'dailyblockrewards',
      module: 'stats',
      params: { enddate, startdate, sort },
    }),
    fields,
  });
}
