/// <reference path="../../common.ts" />

interface EtherscanDailyblkcountResponse {
  blockCount: number;
  blockRewards_Eth: string; // number 
  unixTimeStamp: string; // number
  UTCDate: string;
}

/**
 * {{es.blocks.item[4].name}}
 *
 * {{es.common.params.startdateRequired}}
 * {{es.common.params.enddateRequired}}
 * {{es.common.params.sort}}
 * {{common.params.fields}}
 *
 * @example
 * =ES$DAILYBLKCOUNT("2019-02-01", "2019-02-28")
 *
 * @returns {string[]} blockCount,blockRewards_Eth,unixTimeStamp,UTCDate
 *
 * @customfunction
 */
function ES$DAILYBLKCOUNT(
  startdate: string,
  enddate: string,
  sort?: EtherscanSort,
  fields: FieldsOrAll<EtherscanDailyblkcountResponse> = '*',
) {
  return pickFields_({
    rows: esRequest_<EtherscanDailyblkcountResponse[]>({
      action: 'dailyblkcount',
      module: 'stats',
      params: { enddate, startdate, sort },
    }),
    fields,
  });
}
