/// <reference path="../../common.ts" />

/**
 * {{es.tokens.item[3].name}}
 *
 * {{es.common.params.address}}
 * {{es.common.params.contractaddress}}
 * {{es.common.params.blockno}}
 *
 * @example
 * =ES$TOKENBALANCEHISTORY("0xe04f27eb70e025b78871a2ad7eabe85e61212761", "0x57d90b64a1a57749b0f932f1a3395792e12e7055", 80000)
 *
 * @returns {number} 
 *
 * {{es.common.docsLink}}
 * @see {@link https://docs.etherscan.io/api-endpoints/tokens#get-historical-erc20-token-account-balance-for-tokencontractaddress-by-blockno}
 *
 * @customfunction
 */
function ES$TOKENBALANCEHISTORY(
  address: EthereumAddress,
  contractaddress: EthereumAddress,
  blockno: number,
) {
  return [[
    esRequest_<number>({
      action: 'tokenbalancehistory',
      module: 'stats',
      params: {
        address,
        contractaddress,
        blockno,
      },
    }),
  ]];
}
