/// <reference path="../../common.ts" />

interface EtherscanTransactionGetstatusResponse {
  isError: "1" | "0";
  errDescription?: string;
}

/**
 * {{es.transactions.item[0].name}}
 *
 * {{es.common.params.txhash}}
 * {{common.params.fields}}
 *
 * @example
 * =ES$GETSTATUS("0x15f8e5ea1079d9a0bb04a4c58ae5fe7654b5b2b4463375ff7ffb490aa0032f3a", "*")
 *
 * @returns {string[]} isError,errDescription
 *
 * @customfunction
 */
function ES$GETSTATUS(
  txhash: Hex,
  fields: FieldsOrAll<EtherscanTransactionGetstatusResponse> = '*',
) {
  return pickFields_({
    row: esRequest_<EtherscanTransactionGetstatusResponse>({
      action: 'getstatus',
      module: 'transaction',
      params: { txhash: validateHex_(txhash), },
    }),
    fields,
  });
}
