/// <reference path="../../common.ts" />

interface BeaconchainValidatorAttestations {
  attesterslot: number;
  committeeindex: number;
  epoch: number;
  inclusionslot: number;
  status: number;
  validatorindex: number;
  week: number;
}

/**
 * {{bc.paths["/api/v1/validator/{indexOrPubkey}/attestations"]["get"].summary}}
 *
 * @param {IndexOrPubkey | IndexOrPubkey[]} indexOrPubkey - {{bc.paths["/api/v1/validator/{indexOrPubkey}/attestations"]["get"].parameters[0].description}}
 * {{common.params.fields}}
 * {{common.params.offset}}
 * {{common.params.limit}}
 *
 * @example
 * =BC$VALIDATOR_ATTESTATIONS(209732, "*", 0, 5)
 *
 * @customfunction
 */
function BC$VALIDATOR_ATTESTATIONS(
  indexOrPubkey: IndexOrPubkey | IndexOrPubkey[],
  fields: FieldsOrAll<BeaconchainValidatorAttestations> = '*',
  offset?: number,
  limit?: number,
): SpreadsheetRow[] {
  // XXX validate indexOrPubkey
  // XXX indexOrPubkey can also be an array (join it together)
  return pickFields_<BeaconchainValidatorAttestations>({
    rows: bcRequest_<BeaconchainValidatorAttestations[]>({
      apiPath: `validator/${indexOrPubkey}/attestations`,
      offset,
      limit,
    }),
    fields,
  });
}
