/// <reference path="../../common.ts" />

interface BeaconchainValidatorLeaderboard {
  balance: Gwei;  
  performance1d: Gwei;  
  performance31d: Gwei;  
  performance365d: Gwei;  
  performance7d: Gwei;  
  rank7d: number;  
  validatorIndex: number;  
}

/**
 * {{bc.api.paths["/api/v1/validator/leaderboard"]["get"].summary}}
 *
 * {{common.params.fields}}
 * {{common.params.offset}}
 * {{common.params.limit}}
 *
 * @example
 * =BC$VALIDATOR_LEADERBOARD("*", 0, 3)
 * 
 * @returns {string[]} balance,performance1d,performance31d,performance365d,performance7d,rank7d,validatorIndex
 *
 * @customfunction
 */
function BC$VALIDATOR_LEADERBOARD(
  fields: FieldsOrAll<BeaconchainValidatorLeaderboard> = '*',
  offset?: number,
  limit?: number,
) {
  return pickFields_<BeaconchainValidatorLeaderboard>({
    rows: bcRequest_<BeaconchainValidatorLeaderboard[]>({
      apiPath: `validator/leaderboard`,
      offset,
      limit,
    }),
    fields,
  });
}
