/// <reference path="../../common.ts" />

interface BeaconchainValidator {
  activationeligibilityepoch: number;
  activationepoch: number;
  balance: Gwei;
  effectivebalance: Gwei;
  exitepoch: number;
  lastattestationslot: number;
  name: null;
  pubkey: Hex;
  slashed: boolean;
  status: string;
  validatorindex: number;
  withdrawableepoch: number;
  withdrawalcredentials: Hex;
}

/**
 * {{bc.paths["/api/v1/validator/{indexOrPubkey}"]["get"].summary}}
 *
 * @param {IndexOrPubkey | IndexOrPubkey[]} indexOrPubkey - {{bc.paths["/api/v1/validator/{indexOrPubkey}"]["get"].parameters[0].description}}
 * {{common.params.fields}}
 * {{common.params.offset}}
 * {{common.params.limit}}
 *
 * @customfunction
 */
function BC$VALIDATOR(
  indexOrPubkey: IndexOrPubkey | IndexOrPubkey[],
  fields: FieldsOrAll<BeaconchainValidator> = '*',
  offset?: number,
  limit?: number,
): SpreadsheetRow[] {
  // XXX validate indexOrPubkey
  // XXX indexOrPubkey can also be an array (join it together)
  return pickFields_<BeaconchainValidator>({
    rows: bcRequest_<BeaconchainValidator[]>({
      apiPath: `v1/validator/${indexOrPubkey}`,
      offset,
      limit,
    }),
    fields,
  });
}
