/// <reference path="../../common.ts" />

interface BeaconchainValidatorBalancehistory {
  balance: Gwei;
  effectivebalance: Gwei;
  epoch: number;
  validatorindex: number;
  week: number;
}

/**
 * {{bc.api.paths["/api/v1/validator/{indexOrPubkey}/balancehistory"]["get"].summary}}
 *
 * {{bc.common.params.indexOrPubkey}} {{bc.api.paths["/api/v1/validator/{indexOrPubkey}/balancehistory"]["get"].parameters[0].description}}
 * {{common.params.fields}}
 * {{common.params.offset}}
 * {{common.params.limit}}
 *
 * @example
 * =BC$VALIDATOR_BALANCEHISTORY(209732, "*", 0, 3)
 *
 * @returns {string[]} balance,effectivebalance,epoch,validatorindex,week
 *
 * @customfunction
 */
function BC$VALIDATOR_BALANCEHISTORY(
  indexOrPubkey: IndexOrPubkey | IndexOrPubkey[],
  fields: FieldsOrAll<BeaconchainValidatorBalancehistory> = '*',
  offset?: number,
  limit?: number,
) {
  return pickFields_<BeaconchainValidatorBalancehistory>({
    rows: bcRequest_<BeaconchainValidatorBalancehistory[]>({
      apiPath: `validator/${validateIndexOrPubkey_(indexOrPubkey)}/balancehistory`,
      offset,
      limit,
    }),
    fields,
  });
}
