/// <reference path="../../common.ts" />

// TODO: this function seems to be returning the same as as the "attestation efficiency" API endpoint
// I don't see any difference in the data
interface BeaconchainValidatorAttestationeffectiveness {
  validatorindex: number;
  attestation_efficiency: number;
}

/**
 * {{bc.paths["/api/v1/validator/{indexOrPubkey}/attestationeffectiveness"]["get"].summary}}
 *
 * @param {IndexOrPubkey | IndexOrPubkey[]} indexOrPubkey - {{bc.paths["/api/v1/validator/{indexOrPubkey}/attestationeffectiveness"]["get"].parameters[0].description}}
 * {{common.params.fields}}
 * {{common.params.offset}}
 * {{common.params.limit}}
 *
 * @customfunction
 */
function BC$VALIDATOR_ATTESTATIONEFFECTIVENESS(
  indexOrPubkey: IndexOrPubkey | IndexOrPubkey[],
  fields: FieldsOrAll<BeaconchainValidatorAttestationeffectiveness> = '*',
  offset?: number,
  limit?: number,
): SpreadsheetRow[] {
  // XXX validate indexOrPubkey
  // XXX indexOrPubkey can also be an array (join it together)
  return pickFields_<BeaconchainValidatorAttestationeffectiveness>({
    rows: bcRequest_<BeaconchainValidatorAttestationeffectiveness[]>({
      apiPath: `v1/validator/${indexOrPubkey}/attestationeffectiveness`,
      offset,
      limit,
    }),
    fields,
  });
}
