/// <reference path="../../common.ts" />

/**
 * {{es.accounts.item[10].name}}
 *
 * {{es.common.params.address}}
 * {{es.common.params.blocknoRequired}}
 *
 * @example
 * =ES$BALANCEHISTORY("0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae", "8000000")
 *
 * @returns {number}
 *
 * @customfunction
 */
function ES$BALANCEHISTORY(
  address: EthereumAddress,
  blockno: number,
) {
  return [[
    esRequest_<number>({
      caller: 'ES$BALANCEHISTORY',
      action: 'balancehistory',
      module: 'account',
      params: {
        address: validateEthereumAddress_(address),
        blockno,
      },
    }),
  ]];
}
