/// <reference path="../../common.ts" />

interface EtherscanAccountBalanceMultiResponse {
  account: EthereumAddress;
  balance: Wei;
}

/**
 * {{es.accounts.item[1].name}}
 *
 * @param {addresses} 
 * @param {fields} 
 * @param {tag} 
 *
 * @customfunction
 */
function ES$ACCOUNT_BALANCEMULTI(
  addresses: EthereumAddress[],
  fields: FieldsOrAll<EtherscanAccountBalanceMultiResponse> = '*',
  tag?: EtherscanTag,
): SpreadsheetRow[] {
  return pickFields_({
    rows: esRequest_<EtherscanAccountBalanceMultiResponse[]>({
      caller: 'ES$ACCOUNT_BALANCEMULTI',
      action: 'balancemulti',
      module: 'account',
      params: {
        address: addresses.map(validateEthereumAddress_).join(','),
        tag,
      },
    }),
    fields,
  });
}
