/// <reference path="../../common.ts" />

/**
 * {{es.accounts.item[0].name}}
 *
 * @param {address} 
 * @param {tag} 
 *
 * @customfunction
 */
function ES$ACCOUNT_BALANCE(
  address: EthereumAddress,
  tag?: EtherscanTag,
): SpreadsheetCell {
  return esRequest_<Wei>({
    caller: 'ES$ACCOUNT_BALANCE',
    action: 'balance',
    module: 'account',
    params: {
      address: validateEthereumAddress_(address),
      tag,
    },
  });
}
