/// <reference path="../../common.ts" />

interface EtherscanAccountGetminedblocksResponse {
  blockNumber: string; // number
  blockReward: string; // Wei
  timeStamp: string; // number
}

/**
 * {{es.accounts.item[9].name}}
 *
 * {{es.common.params.address}}
 * @param {"blocks" | "uncles"} blocktype - the string pre-defined block type, either blocks for canonical blocks or uncles for uncle blocks only
 * {{common.params.fields}}
 * {{es.common.params.page}}
 * {{es.common.params.offset}}
 *
 * @example
 * =ES$GETMINEDBLOCKS("0x9dd134d14d1e65f84b706d6f205cd5b1cd03a46b", "*", 1, 3)
 *
 *@returns {string[]} blockNumber,blockReward,timeStamp
 *
 * @customfunction
 */
function ES$GETMINEDBLOCKS(
  address: EthereumAddress,
  fields: FieldsOrAll<EtherscanAccountGetminedblocksResponse> = '*',
  page?: number,
  offset?: number,
) {
  return pickFields_({
    rows: esRequest_<EtherscanAccountGetminedblocksResponse[]>({
      action: 'getminedblocks',
      module: 'account',
      params: {
        address: validateEthereumAddress_(address),
        page,
        offset,
      },
    }),
    fields,
  });
}
