/// <reference path="../../common.ts" />

/**
 * {{es.accounts.item[5].name}}
 *
 * @param {address} 
 * @param {startblock} 
 * @param {endblock} 
 * @param {page} 
 * @param {offset} 
 * @param {sort} 
 *
 * @customfunction
 */
function ES$ACCOUNT_TOKENNFTTX(
  address: EthereumAddress,
  contractaddress: EthereumAddress,
  startblock?: number,
  endblock?: number,
  page?: number,
  offset?: number,
  sort?: EtherscanSort,
) {
  return esRequest_({
    caller: 'ES$ACCOUNT_TOKENNFTTX',
    action: 'tokennfttx',
    module: 'account',
    params: {
      address: validateEthereumAddress_(address),
      contractaddress,
      startblock,
      endblock,
      page,
      offset,
      sort,
    },
  });
}
