/// <reference path="../../common.ts" />

/**
 * {{es.accounts.item[8].name}}
 *
 * {{es.common.params.address}}
 * {{es.common.params.contractaddress}}
 * {{common.params.fields}}
 * {{es.common.params.startblock}}
 * {{es.common.params.endblock}}
 * {{es.common.params.page}}
 * {{es.common.params.offset}}
 * {{es.common.params.sort}}
 *
 * @example
 * =ES$TOKEN1155TX_BYADDRESSANDCONTRACTADDRESS("0x83f564d180b58ad9a02a449105568189ee7de8cb", "0x76be3b62873462d2142405439777e971754e8e77", "*", 0, 27925780, 1, 3, "asc")
 *
 * @returns {string[]} blockHash,blockNumber,confirmations,contractAddress,cumulativeGasUsed,from,gas,gasPrice,gasUsed,hash,input,nonce,timeStamp,to,tokenDecimal,tokenName,tokenSymbol,transactionIndex,value
 *
 * @customfunction
 */
function ES$TOKEN1155TX_BYADDRESSANDCONTRACTADDRESS(
  address: EthereumAddress,
  contractaddress: EthereumAddress,
  fields: FieldsOrAll<EtherscanAccountTokentxResponse> = '*',
  startblock?: number,
  endblock?: number,
  page?: number,
  offset?: number,
  sort?: EtherscanSort,
) {
  return pickFields_({
    rows: esRequest_<EtherscanAccountTokentxResponse[]>({
      action: 'token1155tx',
      module: 'account',
      params: {
        address: validateEthereumAddress_(address),
        contractaddress: validateEthereumAddress_(contractaddress),
        startblock,
        endblock,
        page,
        offset,
        sort,
      },
    }),
    fields,
  });
}
