/// <reference path="../../common.ts" />

/**
 * {{es.accounts.item[7].name}}
 *
 * {{es.common.params.address}}
 * {{es.common.params.contractaddress}}
 * {{common.params.fields}}
 * {{es.common.params.page}}
 * {{es.common.params.offset}}
 * {{es.common.params.sort}}
 * {{es.common.params.startblock}}
 * {{es.common.params.endblock}}
 *
 * @example
 * =ES$TOKENNFTTX_BYADDRESSANDCONTRACTADDRESS("0x6975be450864c02b4613023c2152ee0743572325", "0x06012c8cf97bead5deae237070f9587f8e7a266d", "*", 1, 3)
 *
 * @returns {string[]} blockHash,blockNumber,confirmations,contractAddress,cumulativeGasUsed,from,gas,gasPrice,gasUsed,hash,input,nonce,timeStamp,to,tokenDecimal,tokenName,tokenSymbol,transactionIndex,value
 *
 * @customfunction
 */
function ES$TOKENNFTTX_BYADDRESSANDCONTRACTADDRESS(
  address: EthereumAddress,
  contractaddress: EthereumAddress,
  fields: FieldsOrAll<EtherscanAccountTokentxResponse> = '*',
  page?: number,
  offset?: number,
  sort?: EtherscanSort,
  startblock?: number,
  endblock?: number,
) {
  return pickFields_({
    rows: esRequest_<EtherscanAccountTokentxResponse[]>({
      action: 'tokennfttx',
      module: 'account',
      params: {
        address: validateEthereumAddress_(address),
        contractaddress: validateEthereumAddress_(contractaddress),
        startblock,
        endblock,
        page,
        offset,
        sort,
      },
    }),
    fields,
  });
}
