/// <reference path="../../common.ts" />

interface EtherscanAccountTokentxResponse {

}

/**
 * {{es.accounts.item[4].name}}
 *
 * {{es.common.params.address}}
 * {{es.common.params.startblock}}
 * {{es.common.params.endblock}}
 * {{es.common.params.page}}
 * {{es.common.params.offset}}
 * {{es.common.params.sort}}
 *
 * @example
 * =ES$TOKENTX()
 *
 * @returns XXX
 * @customfunction
 */
function ES$TOKENTX(
  address: EthereumAddress,
  contractAddress: EthereumAddress,
  startblock: number,
  endblock: number,
  page?: number,
  offset?: number,
  sort?: EtherscanSort,
) {
  return esRequest_({
    caller: 'ES$TOKENTX',
    action: 'tokentx',
    module: 'account',
    params: {
      address: validateEthereumAddress_(address),
      contractaddress: contractAddress,
      startblock,
      endblock,
      page,
      offset,
      sort,
    },
  });
}
