/// <reference path="../../common.ts" />

interface EtherscanAccountTokennftxResponse {

}

/**
 * {{es.accounts.item[5].name}}
 *
 * {{es.common.params.address}}
 * @param {EthereumAddress} contractaddress
 * {{es.common.params.page}}
 * {{es.common.params.offset}}
 * {{es.common.params.sort}}
 * {{es.common.params.startblock}}
 * {{es.common.params.endblock}}
 *
 * @customfunction
 */
function ES$TOKENNFTTX(
  address: EthereumAddress,
  contractaddress: EthereumAddress,
  fields: FieldsOrAll<EtherscanAccountTokennftxResponse> = '*',
  page?: number,
  offset?: number,
  sort?: EtherscanSort,
  startblock?: number,
  endblock?: number,
) {
  return pickFields_<EtherscanAccountTokennftxResponse>({
    rows: esRequest_({
      caller: 'ES$TOKENNFTTX',
      action: 'tokennfttx',
      module: 'account',
      params: {
        address: validateEthereumAddress_(address),
        contractaddress,
        startblock,
        endblock,
        page,
        offset,
        sort,
      },
    }),
    fields,
  });
}
