/// <reference path="../../common.ts" />

/**
 * {{es.accounts.item[2].name}}
 *
 * @param {address} 
 * @param {startblock} 
 * @param {endblock} 
 * @param {page} 
 * @param {offset} 
 * @param {sort} 
 *
 * @customfunction
 */
function ES$ACCOUNT_TXLIST(
  address: EthereumAddress,
  startblock?: number,
  endblock?: number,
  page?: number,
  offset?: number,
  sort?: EtherscanSort,
) {
  return esRequest_({
    caller: 'ES$ACCOUNT_TXLIST',
    action: 'txlist',
    module: 'account',
    params: {
      address: validateEthereumAddress_(address),
      startblock,
      endblock,
      page,
      offset,
      sort,
    },
  });
}
