/// <reference path="../../common.ts" />

/**
 * {{es.accounts.item[4].name}}
 *
 * {{es.common.params.txhash}}
 * {{common.params.fields}}
 * {{es.common.params.page}}
 * {{es.common.params.offset}}
 * {{es.common.params.sort}}
 * {{es.common.params.startblock}}
 * {{es.common.params.endblock}}
 * 
 * @example
 * =ES$TXLISTINTERNAL_BYTRANSACTIONHASH("0x40eb908387324f2b575b4879cd9d7188f69c8fc9d87c901b9e2daaea4b442170", "*", 1, 3)
 *
 * @returns {string[]} blockNumber,contractAddress,errCode,from,gas,gasUsed,hash,input,isError,timeStamp,to,traceId,type,value
 *
 * {{es.common.docsLink}}
 * @see {@link https://docs.etherscan.io/api-endpoints/accounts#get-internal-transactions-by-transaction-hash}
 *
 * @customfunction
 */
function ES$TXLISTINTERNAL_BYTRANSACTIONHASH(
  txhash: Hex,
  fields: FieldsOrAll<EtherscanAccountTxlistinternalResponse> = '*',
  page?: number,
  offset?: number,
  sort?: EtherscanSort,
  startblock?: number,
  endblock?: number,
) {
  return pickFields_({
    rows: esRequest_<EtherscanAccountTxlistinternalResponse[]>({
      action: 'txlistinternal',
      module: 'account',
      params: {
        txhash: validateHex_(txhash),
        startblock,
        endblock,
        page,
        offset,
        sort,
      },
    }),
    fields,
  });
}
