/// <reference path="../../common.ts" />

/**
 * {{es.accounts.item[5].name}}
 *
 * {{es.common.params.startblockRequired}}
 * {{es.common.params.endblockRequired}}
 * {{common.params.fields}}
 * {{es.common.params.page}}
 * {{es.common.params.offset}}
 * {{es.common.params.sort}}
 * 
 * @example
 * =ES$TXLISTINTERNAL_BYBLOCKRANGE(13481773, 13491773, "*", 1, 3)
 *
 * @returns {string[]} blockNumber,contractAddress,errCode,from,gas,gasUsed,hash,input,isError,timeStamp,to,traceId,type,value
 *
 * {{es.common.docsLink}}
 * @see {@link https://docs.etherscan.io/api-endpoints/accounts#get-internal-transactions-by-block-range}
 *
 * @customfunction
 */
function ES$TXLISTINTERNAL_BYBLOCKRANGE(
  startblock: number,
  endblock: number,
  fields: FieldsOrAll<EtherscanAccountTxlistinternalResponse> = '*',
  page?: number,
  offset?: number,
  sort?: EtherscanSort,
) {
  return pickFields_({
    rows: esRequest_<EtherscanAccountTxlistinternalResponse[]>({
      action: 'txlistinternal',
      module: 'account',
      params: {
        startblock,
        endblock,
        page,
        offset,
        sort,
      },
    }),
    fields,
  });
}
