/// <reference path="../../common.ts" />

/* eslint-disable babel/camelcase */
interface BeaconchainBlockResponse {
  attestationscount: number;
  attesterslashingscount: number;
  blockroot: Hex;
  depositscount: number;
  epoch: number;
  eth1data_blockhash: Hex;
  eth1data_depositcount: number;
  eth1data_depositroot: Hex;
  exec_base_fee_per_gas: number | null;
  exec_block_hash: Hex | null;
  exec_block_number: number | null;
  exec_extra_data: Hex | null;
  exec_fee_recipient: Hex | null;
  exec_gas_limit: number | null;
  exec_gas_used: number | null;
  exec_logs_bloom: Hex | null;
  exec_parent_hash: Hex | null;
  exec_random: Hex | null;
  exec_receipts_root: Hex | null;
  exec_state_root: Hex | null;
  exec_timestamp: number | null;
  exec_transactions_count: number;
  graffiti: Hex;
  graffiti_text: string;
  parentroot: EthereumAddress;
  proposer: number;
  proposerslashingscount: number;
  randaoreveal: Hex;
  signature: Hex;
  slot: number;
  stateroot: Hex;
  status: string;
  syncaggregate_bits: number | null;
  syncaggregate_participation: number;
  syncaggregate_signature: Hex | null;
  voluntaryexitscount: number;
}
/* eslint-enable babel/camelcase */

/**
 * {{bc.paths["/api/v1/block/{slotOrHash}"]["get"].summary}}
 *
 * @param {SlotOrHash | 'latest'} slotOrHash - {{bc.paths["/api/v1/block/{slotOrHash}"]["get"].parameters[0].description}}
 * {{common.params.fields}}
 *
 * @example
 * =BC$BLOCK("latest", "*")
 *
 * @customfunction
 */
function BC$BLOCK(
  slotOrHash: SlotOrHash | 'latest',
  fields: FieldsOrAll<BeaconchainBlockResponse> = '*',
)  {
  // XXX validate slotOrHash
  return pickFields_({
    row: bcRequest_<BeaconchainBlockResponse>({
      apiPath: `block/${slotOrHash}`,
    }),
    fields,
  });
}
