/// <reference path="../../common.ts" />

interface BeaconchainBlockAttestationsResponse {
  aggregationbits: Hex;
  beaconblockroot: Hex;
  block_index: number;
  block_root: null | Hex;
  block_slot: number;
  committeeindex: number;
  signature: Hex;
  slot: number;
  source_epoch: number;
  source_root: Hex;
  target_epoch: number;
  target_root: Hex;
  validators: number[];
}

/**
 * {{bc.api.paths["/api/v1/block/{slot}/attestations"]["get"].summary}}
 *
 * @param {number} slot - {{bc.api.paths["/api/v1/block/{slot}/attestations"]["get"].parameters[0].description}}
 * {{common.params.fields}}
 * {{common.params.offset}}
 * {{common.params.limit}}
 *
 * @example
 * =BC$BLOCK_ATTESTATIONS(15316933, "*", 0, 3)
 *
 * @returns {string[]} aggregationbits,beaconblockroot,block_index,block_root,block_slot,committeeindex,signature,slot,source_epoch,source_root,target_epoch,target_root,validators
 *
 * @customfunction
 */
function BC$BLOCK_ATTESTATIONS(
  slot: number,
  fields: FieldsOrAll<BeaconchainBlockAttestationsResponse> = '*',
  offset?: number,
  limit?: number,
): SpreadsheetRow[] {
  return pickFields_({
    rows: bcRequest_<BeaconchainBlockAttestationsResponse[]>({
      apiPath: `block/${asNumber_(slot)}/attestations`,
      limit,
      offset,
    }),
    fields,
  });
}
